body{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5%;
      
}

.Caja-Principal{
width: 600px;
height: 500px;
background-color: white;
margin-bottom: 15px;

}


.Head{
height: 10%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 20px;
}

.Caja-izquierda{
    width: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


.Caja-Derecha{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


.body-imagen{
    width: 600px;
    height: 300px;
    background-color: rgb(75, 13, 13);
}

.img{
  width: 600px;
  height: 300px; 
}


.footer{
   width: 600px;
   height: 110px;
   background-color: white;
   text-align: center;
   box-sizing: border-box;
   padding: 10px; 
}
